{% extends "base.html" %}

{% block content %}
<div class="main-body">
    <div class="main-title">Это экран подключений</div>
    <div class="main-description">
        Здесь вы можете создать новое подключение к вашему аккаунту биржы с помощью API ключа.
        При настройке API ключа, для обеспечения безопасности, выберите опцию
        "Разрешить доступ только к доверенным IP-адресам" и введите следующий IP:<br>
        <div class="server-ip">{{ server_ip }}</div>
    </div>
    <form action="" method="post">
        <div class="conn-form-box">
            {{ form.hidden_tag() }}
            <div class="conn-form-el">
                {{ form.exchange(class_="form-exchange") }}<br>
                {% for error in form.exchange.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="conn-form-el">
                {{ form.api_key(placeholder="Api key") }}<br>
                {% for error in form.api_key.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="conn-form-el">
                {{ form.secret_key(placeholder="Secret key") }}<br>
                {% for error in form.secret_key.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="conn-form-el">{{ form.submit(class_="form-add-conn") }}</div>
        </div>
    </form>
    <div class="conn-list-title">Ваши подключения</div>
    {% for connect in connect_list %}
        <div class="conn-unit" id="{{ connect.id }}" >
            <div class="conn-line">
                <div class="conn-api">{{ connect.api_key }}</div>
            </div>
            <div class="conn-line">
                <div class="conn-exchange">{{ connect.exchange }}</div>
                <div class="conn-ping-state"></div>
                <button class="ping-button">Проверить</button>
                <button class="delete-button">Удалить</button>
            </div>
        </div>
    {% endfor %}
</div>
    <script src="{{url_for('static', filename='connections.js')}}"></script>
{% endblock %}