{% extends "base.html" %}

{% block content %}
<div class="main-body">
    <div class="create-bot-block-label">Создание бота</div>
    <div class="create-bot-form-box">
        <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="create-bot-form-el">
                    {{ form.connect.label }}<br>
                    {{ form.connect(class_="create-bot-connect") }}<br>
                    {% for error in form.connect.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="connect-description"></div>
                <hr>
                <div class="create-bot-form-el">
                    {{ form.strategy.label }}<br>
                    {{ form.strategy(class_="create-bot-strategy") }}<br>
                    {% for error in form.strategy.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="strategy-description"></div>
                <hr>
                <div class="create-bot-form-el">
                    {{ form.ticker.label }}<br>
                    {{ form.ticker(placeholder="BTCUSDT") }}<br>
                    {% for error in form.ticker.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="create-bot-form-el">
                    {{ form.deposit.label }}<br>
                    {{ form.deposit(placeholder="15") }}<br>
                    {% for error in form.deposit.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <hr>
                <div class="create-bot-form-el">{{ form.submit(class_="form-create-bot") }}</div>
        </form>
    </div>
</div>
<script src="{{url_for('static', filename='create_bot.js')}}"></script>
{% endblock %}