{% extends "base.html" %}

{% block content %}
<div class="main-body">
    <ul class="accordion" data-accordion="open">
      <li>
        <div class="accordion-head", id="1">Как зарегистрироваться на платформе CoinCleave?</div>
        <div class="accordion-body">
            Нажмите на верхней панели меню "Регистрация", или кликните на соответствующую подсказку в форме входа.
            Регистрация на платформе проходит в привычном формате. Вы указываете эллектронную почту и придумываете
            пароль.
        </div>
      </li>
      <li>
        <div class="accordion-head", id="2">Зачем нужны API ключи?</div>
        <div class="accordion-body">
            API позволяет подключаться к серверам биржы с помощью различных языков программирования.
            Получаемые с биржы данные можно использовать во внешних приложениях.
            С помощью подключения к API можно просматривать информацию о кошельке, включая данные о транзакциях,
            совершать сделки, вводить и выводить средства через сторонние программы.
            Мы используем их функционал для осуществления работы ботов.
        </div>
      </li>
        <li>
        <div class="accordion-head", id="3">Как создать подключение по API ключу?</div>
        <div class="accordion-body">
            Для того чтобы создать подключение к вашему аккаунту биржы по API ключу, сначала войдите в аккаунт
            CoinCleave. После, перейдите на вкладку "Подключения", и заполните форму.
            Проверьте корректность введённых данных и нажмите "Добавить". Помните, вы в любой момент можете проверить
            подключение нажав кнопку "Проверить". Если в результате проверки выясниться, что были введенны некорректные
            данные, вы можете удалить созданное подключение нажав кнопку "Удалить".
        </div>
      </li>
      <li>
        <div class="accordion-head", id="4">Как создать бота?</div>
        <div class="accordion-body">
            Перейдите на вкладку "Боты", над списком ботов, расположенном в правой части экрана найдите кнопку
            "Создать бота". Откроеться страница с формой - заполните её, и нажмите кнопку "Создать".
        </div>
      </li>
      <li>
        <div class="accordion-head", id="5">Как работать с ботами?</div>
        <div class="accordion-body">
            После того как вы создали бота, он появиться на вкладке "Боты" в списке ботов.
            Выберите интересуещего вас бота из списка. В левой части экрана появиться название и описание стратегии
            по которой работает бот. В нижней части экрана, под графиком, выведеться история сделок, выбранного бота.
            График по середине страницы, появиться как только бот будет включён, он отображает работу бота на выбранной
            торговой паре. Включить бота можно нажав на кнопу "Запуск бота". Выключить бота можно двумя способами:
            мягко и быстро.
        </div>
      </li>
      <li>
        <div class="accordion-head", id="6">Что такое "Мягкая остановка"</div>
        <div class="accordion-body">
            Мягкая остановка является предпочтительным вариантом остановки бота. Она переводит бота в
            режим ожидания, в этом режиме бот будет работать до тех пор, пока не закроет текущую сделку. Если в момент
            нажатия у бота не было открытой сделки, бот сразу же останавливается. Если вы уже применили мягкую
            остановку, но передумали и хотите, что бы бот продолжил работать, вы можете просто нажать "Запуск бота".
            Это переведёт бота из режима ожидания в обычный рабочий режим.
        </div>
      </li>
      <li>
        <div class="accordion-head", id="6">Что такое "Жёсткая остановка"</div>
        <div class="accordion-body">
            Жёсткая остановка принудительно останавливает работу бота. Бот закрывает текущую сделку немедленно, если
            она есть. Вы можете применить жёсткую остановку, в том числе к ботам, находящимся в режиме ожидания
            "Мягкой остановки".
        </div>
      </li>
    </ul>
</div>
    <script type="text/javascript">
        var target = {{ target }}
    </script>
    <script src="{{url_for('static', filename='accordion.js')}}"></script>
{% endblock %}