{% extends "base.html" %}

{% block content %}
<div class="main-body">
    <div class="time">
        Подписка истечёт через:<br>{{ subscription_time.days }}&nbsp;дней&nbsp;
        {{ subscription_time.seconds // 3600 }}&nbsp;часов&nbsp;{{ subscription_time.seconds // 60 }}&nbsp;минут
    </div>
    <div class="tariffs">
        <div class="_30d-gradient">
            <div class="tariff-main">
                <div class="tariff-time">30 дней</div>
                <div class="tariff-price">БЕСПЛАТНО</div>
            </div>
        </div>
        <div class="_60d-gradient">
            <div class="tariff-main">
                <p class="tariff-time">60 дней</p>
                <p class="tariff-price">БЕСПЛАТНО</p>
            </div>
        </div>
        <div class="_180d-gradient">
            <div class="tariff-main">
                <p class="tariff-time">180 дней</p>
                <p class="tariff-price">БЕСПЛАТНО</p>
            </div>
        </div>
    </div>
    <div class="tariff-description">
        Подписка открывает доступ к разделам подключений и создания ботов. В рамках единой подписки вы можете добавлять
        подключения к криптовалютными биржам через API ключи, и создавать ботов на основе готовых стратегий. Созданные
        боты будут торговать с ваших аккаунтов при помощи добавленных ранее подключений.<br>
        <br>
        Биржы: Binance<br>
        Общее доступное количество ботов: 50<br>
        Максимум одновременно работащих ботов: 10<br>
    </div>
    <div class="purchase_history_container">
        <button class="purchase_history">История покупок</button>
    </div>
    <div class="popup_black_back"></div>
    <div class="popup_activity_list">
        <div class="activity_line">
            <div class="activity_unit">Подписка</div>
            <div class="activity_unit">Дата покупки</div>
        </div>
        <hr>
        {% for purchase in all_purchase|reverse %}
            <div class="activity_line">
                <div class="activity_unit">{{ purchase.name }}</div>
                <div class="activity_unit">{{ purchase.purchase_time.isoformat(' ', 'seconds') }}</div>
            </div>
            {% if not loop.last %}
                <hr>
            {% endif %}
        {% endfor %}
    </div>
    <script src="{{url_for('static', filename='subscription.js')}}"></script>
</div>
{% endblock %}